.post-title a {
    color: black;
}

.jab-post h1, h2, h3, h4 {
    margin-top: 3ex;
    margin-bottom: 1ex;
    line-height: 1.2;
}

.post-title {
    margin-bottom: 1.5ex;
}

.post-footer {
    font-size: smaller;
    font-weight: bold;
}

.jab-post img {
    border: 1px solid grey;
}

footer p {
    margin: 0;
    color: #888888;
    font-size: small;
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}